.row-top{
  background-repeat:no-repeat;
  background-image:url(../images/logo.png);
  background-position: 60px -10px;
  position:relative;
}
#home{
  display:block;
  width: 215px;
  height: 50px;
}
#user-icon{
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #2C70AF;
  font-size: 30px;
  text-align: center;
}
#user-name{
  display: inline-block;
  width: 100px;
  height: 20px;
  color: #9E9E9E;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(182, 182, 182, 0.5);
  position:absolute;
  left:70px;
  top:30px;
}
#user-action{
  display:block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #2C70AF;
  font-size: 30px;
  text-align: center;
  position:absolute;
  right:15px;
  top:0;
}
#user-coins{
  display:block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  color: #9E9E9E;
  font-size: 18px;
  text-align: right;
  position:absolute;
  right:70px;
  top:0;
}