li.list-vertical{
    margin-bottom: 2px;
}
li.btn-action.active{
    a{
        color: #9E9E9E;
    }
}
li.btn-action{
     a {
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        background-color:#2C70AF; 
        color: #FFFFFF;
        font-size: 28px;
        text-align: center;
        cursor:pointer;
        text-indent: 2px;
    }
}
