/* Form required fields*/
.form-group-chat{
	@extend .form-group; 
	margin-right:0 !important;
}
.rooms{
	@extend .list-unstyled;
	margin:0;
	padding:0;
	text-align: left;
	li {
		display:inline-block;
		margin-left:2px;
	}
}
.chat-status{ 
	@extend .list-unstyled;
	margin:0;
	padding:0;
	text-align: right;
	li {
		display:inline-block;
		margin-left:2px;
	}
}
.chat-header{
	color:$secondaryTextColor;
}
.chat-user{
	@extend .text-left; 
	color:$primaryTextColor;
}
.chat-message{
	@extend .text-left; 
	color:$primaryTextColor;
}