/* Commons */
html, body {
  height:100%;
  margin:0;
  padding:0;
  background-color: $body-bg;
  overflow: hidden;
}
ul,li{
  margin:0;
  padding:0;
  border:0;
}
#container {
    background-color: $body-bg;
    position: relative;
    height: 100%;
    width: 100%;
    border:50px solid $body-bg;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
#content {
    background-color: $body-bg;
    height: 100%;
    width: 100%;
}
#bar-top,#bar-right,#bar-bottom,#bar-left{
    position:absolute;    
}
#bar-top,#bar-bottom{
  left:-50px;
  right:-50px;
  height:50px;
  background-color:#FFFFFF;
}
#bar-top{
  top:-50px;
}
#bar-bottom{
  bottom:-50px;
}
#bar-left,#bar-right{
  top:0;
  bottom:0;
  width:50px;
  background-color:$brand-base;
}
#bar-left{
  left:-50px;
}
#bar-right{
  right:-50px;
}
