/* Theme */
$brand-base: #2C70AF !default;
$darkPrimaryColor:  darken($brand-base, 6.5%) !default; 
$primaryColor:       $brand-base !default;
$lightPrimaryColor:  lighten($brand-base, 46.7%) !default;
$primaryTextColor:   #212121 !default;
$textPrimaryColor:   #FFFFFF !default;
$splash-screen-bg:  $brand-base !default;
$splash-screen-txt:  #FFFFFF !default;

/* Bootstrap */
$body-bg:               #FFFFFF !default;
$text-color:            #212121 !default;
$jumbotron-bg: $lightPrimaryColor !default;
$icon-font-path: "../fonts/" !default;
$fa-font-path:   "../fonts" !default;  
$font-family-sans-serif:  sans-serif, "Helvetica Neue", Helvetica, Arial !default;




