<div class="support-user">
	<div class="container">
		<div class="support-user__box">
			<div class="support-user__header">
				<div class="support-user__supportOnline">
					<span class="support-user__badge" data-ng-class="{'online':supportUser.supportIsOnline}">
						<span class="fa fa-circle"></span>
					</span>
				</div>
				<h2 class="col-md-4 col-md-offset-4">{{ 'support.header' | translate }}</h2>
			</div>
			<div class="support-user__messages">
				<div class="support-user__clear">
					<div class="support-user__welcome">
					{{ 'support.welcome' | translate }}
					</div>
				</div>
				<div data-ng-repeat="message in supportUser.messages track by message._id" class="support-user__message">
				<div class="support-user__clear">
					<div class="support-user__{{message.type}}">
						<div class="support-user__{{message.type}}__text">
						 {{message.text}}
						 </div>
						 <div class="support-user__{{message.type}}__date">
						 	<span data-show-date input="{{message.created}}"></span>
						 </div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="support-user__bottom">
		<div class="container">
			<form name="form" class="support-user__form" data-ng-submit="supportUser.send()" novalidate>
				<div class="counter" id="counter"></div>
				<div class="support-user__formGroup form-no-required">
					<div class="input-group">
						<span class="input-group-addon fa fa-pencil support-fa"></span>
						<input type="text" tabindex="1" name="message" placeholder="{{ 'support.placeholder' | translate }}" class="support-input"  autocomplete="off" data-ng-minlength="10" data-ng-maxlength="500" data-ng-model="supportUser.data.text" data-char-limit from="10" to="500" />
					</div>
				</div>
			</form>
		</div>
	</div>
  </div>

  